/*=============================
HERO
=============================*/
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.6)
    ),
    url("../../assets/Hero.jpg");
  overflow: hidden;
}

/*=============================
OVERLAY
=============================*/

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.88),
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.55)
  );
}

/*=============================
CONTAINER
=============================*/

.hero-container {
  padding: 15px 0;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  align-items: center;
  gap: 70px;
}

/*=============================
CONTENT
=============================*/

.hero-content {
  max-width: 700px;
  animation: fadeLeft 1s ease;
}

.hero-dot{
    color: white;
}

.hero-subtitle {
  display: inline-block;
  letter-spacing: 3px;
  font-size: 12px;
  color: #d4af37;
}

.hero-content h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #d4af37;
  font-style: italic;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.9;
  color: #d6d6d6;
  margin-bottom: 20px;
  max-width: 620px;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
  flex-wrap: wrap;
}

/*=============================
BUTTONS
=============================*/

.hero .primary-btn {
  padding: 12px 24px;
  background: #d4af37;
  color: #111;
  border-radius: 50px;
  font-size: 0.88rem;
  font-weight: 600;
  transition: 0.35s;
}

.hero .primary-btn:hover {
  transform: translateY(-6px);
  background: #f0c75e;
}

.hero .secondary-btn {
  padding: 12px 24px;
  background: #fff;
  border: 1px solid #fff;
  color: #111;
  border-radius: 50px;
  font-size: 0.88rem;
  font-weight: 600;
  transition: 0.35s;
}

.hero .secondary-btn:hover {
  background: #f3f3f3;
  color: #111;
  transform: translateY(-6px);
}

/*=============================
CARD
=============================*/

.hero-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  animation: fadeUp 1.2s ease;
}

.brand{
    background: #9f8a43;
    color: white;
    border: 2px #d4af37;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
}

.hero-card span {
  color: white;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

.hero-card h3 {
  margin: 18px 0 10px;
  color: #fff;
}

.hero-card p {
  color: #cfcfcf;
  line-height: 1.8;
}

.hero-card hr {
  margin: 30px 0;
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
}

/*=============================
SCROLL INDICATOR
=============================*/

.scroll-indicator {
  position: absolute;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);
}

.scroll-indicator span {
  display: block;
  width: 2px;
  height: 60px;
  background: #d4af37;
  animation: scroll 2s infinite;
}

/*=============================
ANIMATION
=============================*/

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    transform: scaleY(0.2);
    opacity: 0.3;
  }

  50% {
    transform: scaleY(1);
    opacity: 1;
  }

  100% {
    transform: scaleY(0.2);
    opacity: 0.3;
  }
}

/*=============================
RESPONSIVE
=============================*/

@media (max-width: 1100px) {
  .hero-container {
    grid-template-columns: 1fr;
    gap: 60px;
    text-align: center;
  }

  .hero-content {
    margin: auto;
  }

  .hero-card {
    max-width: 600px;
    margin: auto;
  }

  .hero-buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 120px 0 80px;
  }

  .hero .hero-buttons {
    justify-content: center;
    align-items: center;
  }

  .hero-content h1 {
    font-size: 3.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-card {
    padding: 30px;
  }
}

@media (max-width: 576px) {

  .primary-btn {
    border-radius: 50px;
  }

  .secondary-btn{
    border-radius: 50px;
  }

  .hero-container {
  padding: 15px 0px;
}
  .hero-content h1 {
    font-size: 2.7rem;
    padding-top: 5px;
    line-height: 1.1;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero .primary-btn,
  .hero .secondary-btn {
    width: auto;
    min-width: 150px;
    align-items: center;
    text-align: center;
  }

  .hero-card {
    padding: 25px;
  }

  .hero-card h3{
    font-size: 28px;
  }
}
